*{
    margin: 0;
    padding: 0;
}
.form-floating{
    width: 100%;
   
    
}
.form-floating input{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    height: fit-content;
    font-size:0.8rem;
    min-height: 0;
    height: 50px;
    
    
}
.form-floating label{
    font-size: 0.8rem;
    
}
main{
    z-index: 0;
}
main>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%;
    margin-top: 6% ;
    margin-bottom: 2%;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    
}
main>form>#btn{
    place-self: end;
    font-size: 0.8rem;
}
main section{
    margin: 10%;
    margin-top: 0;
    
}
#place-order>section:first-child{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}
#place-order>section:first-child>div{
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0;
}
.input-group input{
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.input-group button{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: none;
}
#place-order>section:last-child{
    padding: 2%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#place-order>section:last-child>div{
    display: flex;
    justify-content: center;
}
#place-order>section:last-child>div>div:nth-child(2)>div:last-child{
    display: flex;
    justify-content: end;
    width: 100%;
}
#place-order>section:last-child>div>div{
    width: 100%;
    margin: 1%;
    
}
