*{
    margin: 0;
    padding: 0;
}
.form-floating{
    width: 100%;
   
    
}
.form-floating input{
    border: 1px solid green;
    height: fit-content;
    font-size:0.8rem;
    min-height: 0;
    height: 50px;
    
    
}
.form-floating label{
    font-size: 0.8rem;
    
}
main{
    z-index: 0;
}
main>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%;
    margin-top: 6% ;
    margin-bottom: 2%;
    padding: 2%;
    border: 1px solid darkgray;
    border-radius: 10px;
    
}
main>form>#btn{
    place-self: end;
}
main section{
    margin: 10%;
    margin-top: 0;
}
